<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ head.title }}</title>
	<meta name="description" content="{{ head.description }}">

	{{{ sh.fonts }}}

	<style type="text/css">
		{{{ sh.css.style }}}
		{{{ sh.css.fonts }}}
		{{{ sh.css.navbar }}}
	</style>

	{{{ sh.analytics }}}
</head>

<body>
	{{> pa.navbar }}

	<div class="container">
		<h1>{{ title }}</h1>

		{{# each questions }}
		<div>
			<h3>{{ this.question }}</h3>
			<p>{{ this.answer }}</p>
		</div>
		{{/ each }}
	</div>

	{{{ sh.footer }}}

	<script type="text/javascript">
		{{{ sh.js.scripts }}}
	</script>
</body>
</html>
